In [15]:
from bankviz.utils import *
import pandas as pd

In [9]:
from django.conf import settings

In [17]:
data = {"age":58.0,"campaign":6.0,"pdays":3.0,"previous":1.0,"emp_var_rate":-2.9,"cons_price_idx":92.201,"cons_conf_idx":-31.4,"euribor3m":0.838,"nr_employed":5076.2,"job_blue-collar":0.0,"job_entrepreneur":0.0,"job_housemaid":0.0,"job_management":0.0,"job_retired":1.0,"job_self-employed":0.0,"job_services":0.0,"job_student":0.0,"job_technician":0.0,"job_unemployed":0.0,"job_unknown":0.0,"marital_married":1.0,"marital_single":0.0,"marital_unknown":0.0,"education_basic.6y":0.0,"education_basic.9y":0.0,"education_high.school":1.0,"education_illiterate":0.0,"education_professional.course":0.0,"education_university.degree":0.0,"education_unknown":0.0,"default_unknown":0.0,"default_yes":0.0,"housing_unknown":0.0,"housing_yes":1.0,"loan_unknown":0.0,"loan_yes":0.0,"contact_telephone":0.0,"month_aug":1.0,"month_dec":0.0,"month_jul":0.0,"month_jun":0.0,"month_mar":0.0,"month_may":0.0,"month_nov":0.0,"month_oct":0.0,"month_sep":0.0,"day_of_week_mon":0.0,"day_of_week_thu":0.0,"day_of_week_tue":1.0,"day_of_week_wed":0.0,"poutcome_nonexistent":0.0,"poutcome_success":1.0}
data = { k:[v] for k,v in data.items() }

In [23]:
settings.CATEGORICAL_VALUES

{'job': ['admin.',
  'blue-collar',
  'technician',
  'services',
  'management',
  'retired',
  'entrepreneur',
  'self-employed',
  'housemaid',
  'unemployed',
  'student',
  'unknown'],
 'marital': ['married', 'single', 'divorced', 'unknown'],
 'education': ['university.degree',
  'high.school',
  'basic.9y',
  'professional.course',
  'basic.4y',
  'basic.6y',
  'unknown',
  'illiterate'],
 'default': ['no', 'unknown', 'yes'],
 'housing': ['yes', 'no', 'unknown'],
 'loan': ['no', 'yes', 'unknown'],
 'contact': ['cellular', 'telephone'],
 'month': ['may',
  'jul',
  'aug',
  'jun',
  'nov',
  'apr',
  'oct',
  'sep',
  'mar',
  'dec'],
 'day_of_week': ['thu', 'mon', 'wed', 'tue', 'fri'],
 'poutcome': ['nonexistent', 'failure', 'success']}

In [18]:
df =pd.DataFrame.from_dict(data)

In [19]:
df

,age,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,job_blue-collar,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,58.0,6.0,3.0,1.0,-2.9,92.201,-31.4,0.838,5076.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [20]:
scaler = settings.SCALER

In [21]:
x_pred = scaler.transform(df)

In [22]:
x_pred

array([[ 5.80000000e+01,  6.00000000e+00,  3.00000000e+00,
         1.00000000e+00, -2.90000000e+00,  9.22010000e+01,
        -3.14000000e+01,  8.38000000e-01,  5.07620000e+03,
        -4.08278578e-17,  1.56410948e-17,  4.37030591e-17,
         2.30016100e-19,  1.00000000e+00,  2.76019320e-18,
        -1.17883251e-17,  8.74061182e-18, -1.28809016e-17,
         7.45252165e-17, -3.45024151e-19,  1.00000000e+00,
        -6.44045081e-18,  8.97062792e-18, -1.33409338e-17,
         5.17536226e-18,  1.00000000e+00,  1.19608372e-17,
         2.73719159e-17,  1.01207084e-17, -4.23229625e-17,
        -1.15008050e-17,  2.30016100e-18, -3.01321092e-17,
         1.00000000e+00, -3.01321092e-17,  8.28057961e-18,
         1.06267438e-16,  1.00000000e+00, -5.06035421e-18,
         2.62505875e-17,  2.34616422e-17,  3.50774553e-17,
        -6.34844437e-17,  2.34616422e-17, -3.13971977e-17,
        -5.15236065e-17, -1.51810626e-17, -1.61011270e-17,
         1.00000000e+00, -6.49795484e-17, -2.36916583e-17,
         1.00000000e+00]])

In [13]:
p, df = predict(data)

KeyError: 'job'

In [8]:
df

,age,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,job_blue-collar,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,25,7,129,1,0.081886,93.575664,-40.5026,3.621291,5167.035911,0,...,1,0,0,0,0,0,0,0,0,0