In [1]:
import pandas as pd

In [ ]:
columns = ['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success']

In [25]:
data = {
    "age": 25,
    "job": "admin.",
    "marital": "single",
    "education": "university.degree",
    "default": "no",
    "housing": "yes",
    "loan": "no",
    "contact": "cellular",
    "month": "may",
    "day_of_week": "fri",
    "campaign": 7,
    "pdays": 129,
    "previous": 1,
    "poutcome": "failure"
}
data['emp_var_rate'] = 0.08188550063125165
data['cons_price_idx'] = 93.5756643682626
data['cons_conf_idx'] = -40.50260027192386
data['euribor3m'] = 3.621290812858114
data['nr_employed'] = 5167.035910944936

{'age': 25,
 'job': 'admin.',
 'marital': 'single',
 'education': 'university.degree',
 'default': 'no',
 'housing': 'yes',
 'loan': 'no',
 'contact': 'cellular',
 'month': 'may',
 'day_of_week': 'fri',
 'campaign': 7,
 'pdays': 129,
 'previous': 1,
 'poutcome': 'failure',
 'emp_var_rate': 0.08188550063125165,
 'cons_price_idx': 93.5756643682626,
 'cons_conf_idx': -40.50260027192386,
 'euribor3m': 3.621290812858114,
 'nr_employed': 5167.035910944936}

In [27]:
data = { k:[v] for k,v in data.items()}

In [28]:
data

{'age': [25],
 'job': ['admin.'],
 'marital': ['single'],
 'education': ['university.degree'],
 'default': ['no'],
 'housing': ['yes'],
 'loan': ['no'],
 'contact': ['cellular'],
 'month': ['may'],
 'day_of_week': ['fri'],
 'campaign': [7],
 'pdays': [129],
 'previous': [1],
 'poutcome': ['failure'],
 'emp_var_rate': [0.08188550063125165],
 'cons_price_idx': [93.5756643682626],
 'cons_conf_idx': [-40.50260027192386],
 'euribor3m': [3.621290812858114],
 'nr_employed': [5167.035910944936]}

In [33]:
pd.DataFrame.from_dict(data)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,25,admin.,single,university.degree,no,yes,no,cellular,may,fri,7,129,1,failure,0.081886,93.575664,-40.5026,3.621291,5167.035911

In [5]:
m = [ 0.38004083, -0.56559463,  0.19672691,  1.67001193, -1.19304176,
       -1.17915784, -1.23152058, -1.36077793, -0.93504613, -0.53879215,
       -0.19215593, -0.16336579, -0.27684214, -0.20917914,  5.28689561,
       -0.32626799, -0.14510364, -0.44039455, -0.1605238 , -0.08959582,
        0.80506851, -0.6233352 , -0.04223304, -0.24304647, -0.41438077,
       -0.54688886, -0.0179951 , -0.3839053 ,  1.54492708, -0.20943191,
       -0.51592661, -0.00804661, -0.156554  ,  0.95563031, -0.156554  ,
       -0.42212722, -0.76217515, -0.41545273, -0.06698781, -0.45777926,
       -0.3870628 , -0.11525965,  1.39829473, -0.33206699, -0.13123291,
       -0.1168355 , -0.51184994, -0.51436703, -0.49406465, -0.49391253,
       -2.50882739, -0.18628219]

In [9]:
for c in columns:
    print(c)

age
campaign
pdays
previous
emp.var.rate
cons.price.idx
cons.conf.idx
euribor3m
nr.employed
job_blue-collar
job_entrepreneur
job_housemaid
job_management
job_retired
job_self-employed
job_services
job_student
job_technician
job_unemployed
job_unknown
marital_married
marital_single
marital_unknown
education_basic.6y
education_basic.9y
education_high.school
education_illiterate
education_professional.course
education_university.degree
education_unknown
default_unknown
default_yes
housing_unknown
housing_yes
loan_unknown
loan_yes
contact_telephone
month_aug
month_dec
month_jul
month_jun
month_mar
month_may
month_nov
month_oct
month_sep
day_of_week_mon
day_of_week_thu
day_of_week_tue
day_of_week_wed
poutcome_nonexistent
poutcome_success