In [6]:
import pandas as pd
import requests

In [7]:
data = {
"xcol":"emp_var_rate",
"ycol":"cons_conf_idx"
}

In [11]:
r = requests.get("https://statsroyhung.s3-ap-southeast-1.amazonaws.com/age-group.csv")

In [16]:
df = pd.read_csv("https://statsroyhung.s3-ap-southeast-1.amazonaws.com/age-group.csv")

In [17]:
df

,State,Under 5 Years,5 to 13 Years,14 to 17 Years,18 to 24 Years,25 to 44 Years,45 to 64 Years,65 Years and Over
0,AL,310504,552339,259034,450818,1231572,1215966,641667
1,AK,52083,85640,42153,74257,198724,183159,50277
2,AZ,515910,828669,362642,601943,1804762,1523681,862573
3,AR,202070,343207,157204,264160,754420,727124,407205
4,CA,2704659,4499890,2159981,3853788,10604510,8819342,4114496
5,CO,358280,587154,261701,466194,1464939,1290094,511094
6,CT,211637,403658,196918,325110,916955,968967,478007
7,DE,59319,99496,47414,84464,230183,230528,121688
8,DC,36352,50439,25225,75569,193557,140043,70648
9,FL,1140516,1938695,925060,1607297,4782119,4746856,3187797
10,GA,740521,1250460,557860,919876,2846985,2389018,981024
11,HI,87207,134025,64011,124834,356237,331817,190067
12,ID,121746,201192,89702,147606,406247,375173,182150
13,IL,894368,1558919,725973,1311479,3596343,3239173,1575308
14,IN,443089,780199,361393,605863,1724528,1647881,813839
15,IA,201321,345409,165883,306398,750505,788485,444554
16,KS,202529,342134,155822,293114,728166,713663,366706
17,KY,284601,493536,229927,381394,1179637,1134283,565867
18,LA,310716,542341,254916,471275,1162463,1128771,540314
19,ME,71459,133656,69752,112682,331809,397911,199187
20,MD,371787,651923,316873,543470,1556225,1513754,679565
21,MA,383568,701752,341713,665879,1782449,1751508,871098
22,MI,625526,1179503,585169,974480,2628322,2706100,1304322
23,MN,358471,606802,289371,507289,1416063,1391878,650519
24,MS,220813,371502,174405,305964,764203,730133,371598
25,MO,399450,690476,331543,560463,1569626,1554812,805235
26,MT,61114,106088,53156,95232,236297,278241,137312
27,NE,132092,215265,99638,186657,457177,451756,240847
28,NV,199175,325650,142976,212379,769913,653357,296717
29,NH,75297,144235,73826,119114,345109,388250,169978
30,NJ,557421,1011656,478505,769321,2379649,2335168,1150941
31,NM,148323,241326,112801,203097,517154,501604,260051
32,NY,1208495,2141490,1058031,1999120,5355235,5120254,2607672
33,NC,652823,1097890,492964,883397,2575603,2380685,1139052
34,ND,41896,67358,33794,82629,154913,166615,94276
35,OH,743750,1340492,646135,1081734,3019147,3083815,1570837
36,OK,266547,438926,200562,369916,957085,918688,490637
37,OR,243483,424167,199925,338162,1044056,1036269,503998
38,PA,737462,1345341,679201,1203944,3157759,3414001,1910571
39,RI,60934,111408,56198,114502,277779,282321,147646
40,SC,303024,517803,245400,438147,1193112,1186019,596295
41,SD,58566,94438,45305,82869,196738,210178,116100
42,TN,416334,725948,336312,550612,1719433,1646623,819626
43,TX,2027307,3277946,1420518,2454721,7017731,5656528,2472223
44,UT,268916,413034,167685,329585,772024,538978,246202
45,VT,32635,62538,33757,61679,155419,188593,86649
46,VA,522672,887525,413004,768475,2203286,2033550,940577
47,WA,433119,750274,357782,610378,1850983,1762811,783877
48,WV,105435,189649,91074,157989,470749,514505,285067
49,WI,362277,640286,311849,553914,1487457,1522038,750146
50,WY,38253,60890,29314,53980,137338,147279,65614

In [3]:
DATAFRAME = pd.read_csv('../data/bank-additional-full.csv', delimiter=';')

In [4]:
CATEGORICAL = [
    'job',
    'marital',
    'education',
    'default',
    'housing',
    'loan',
    'contact',
    'month',
    'day_of_week',
    'poutcome'
]

In [5]:
CATEGORICAL_VALUES = {
    cat : list(DATAFRAME[cat].value_counts().index) \
    for cat in CATEGORICAL
}

In [50]:
CATEGORICAL_VALUES['job']

['admin.',
 'blue-collar',
 'technician',
 'services',
 'management',
 'retired',
 'entrepreneur',
 'self-employed',
 'housemaid',
 'unemployed',
 'student',
 'unknown']

In [55]:
def gen_input(category):
    for option in category:
        print(f'<option value="{option}">{option}</option>')

In [67]:
gen_input(CATEGORICAL_VALUES['poutcome'])

<option value="nonexistent">nonexistent</option>
<option value="failure">failure</option>
<option value="success">success</option>

In [ ]:
columns = ['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success']

In [25]:
data = {
    "age": 25,
    "job": "admin.",
    "marital": "single",
    "education": "university.degree",
    "default": "no",
    "housing": "yes",
    "loan": "no",
    "contact": "cellular",
    "month": "may",
    "day_of_week": "fri",
    "campaign": 7,
    "pdays": 129,
    "previous": 1,
    "poutcome": "failure"
}
data['emp_var_rate'] = 0.08188550063125165
data['cons_price_idx'] = 93.5756643682626
data['cons_conf_idx'] = -40.50260027192386
data['euribor3m'] = 3.621290812858114
data['nr_employed'] = 5167.035910944936

{'age': 25,
 'job': 'admin.',
 'marital': 'single',
 'education': 'university.degree',
 'default': 'no',
 'housing': 'yes',
 'loan': 'no',
 'contact': 'cellular',
 'month': 'may',
 'day_of_week': 'fri',
 'campaign': 7,
 'pdays': 129,
 'previous': 1,
 'poutcome': 'failure',
 'emp_var_rate': 0.08188550063125165,
 'cons_price_idx': 93.5756643682626,
 'cons_conf_idx': -40.50260027192386,
 'euribor3m': 3.621290812858114,
 'nr_employed': 5167.035910944936}

In [27]:
data = { k:[v] for k,v in data.items()}

In [28]:
data

{'age': [25],
 'job': ['admin.'],
 'marital': ['single'],
 'education': ['university.degree'],
 'default': ['no'],
 'housing': ['yes'],
 'loan': ['no'],
 'contact': ['cellular'],
 'month': ['may'],
 'day_of_week': ['fri'],
 'campaign': [7],
 'pdays': [129],
 'previous': [1],
 'poutcome': ['failure'],
 'emp_var_rate': [0.08188550063125165],
 'cons_price_idx': [93.5756643682626],
 'cons_conf_idx': [-40.50260027192386],
 'euribor3m': [3.621290812858114],
 'nr_employed': [5167.035910944936]}

In [33]:
pd.DataFrame.from_dict(data)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,25,admin.,single,university.degree,no,yes,no,cellular,may,fri,7,129,1,failure,0.081886,93.575664,-40.5026,3.621291,5167.035911

In [5]:
m = [ 0.38004083, -0.56559463,  0.19672691,  1.67001193, -1.19304176,
       -1.17915784, -1.23152058, -1.36077793, -0.93504613, -0.53879215,
       -0.19215593, -0.16336579, -0.27684214, -0.20917914,  5.28689561,
       -0.32626799, -0.14510364, -0.44039455, -0.1605238 , -0.08959582,
        0.80506851, -0.6233352 , -0.04223304, -0.24304647, -0.41438077,
       -0.54688886, -0.0179951 , -0.3839053 ,  1.54492708, -0.20943191,
       -0.51592661, -0.00804661, -0.156554  ,  0.95563031, -0.156554  ,
       -0.42212722, -0.76217515, -0.41545273, -0.06698781, -0.45777926,
       -0.3870628 , -0.11525965,  1.39829473, -0.33206699, -0.13123291,
       -0.1168355 , -0.51184994, -0.51436703, -0.49406465, -0.49391253,
       -2.50882739, -0.18628219]

In [9]:
for c in columns:
    print(c)

age
campaign
pdays
previous
emp.var.rate
cons.price.idx
cons.conf.idx
euribor3m
nr.employed
job_blue-collar
job_entrepreneur
job_housemaid
job_management
job_retired
job_self-employed
job_services
job_student
job_technician
job_unemployed
job_unknown
marital_married
marital_single
marital_unknown
education_basic.6y
education_basic.9y
education_high.school
education_illiterate
education_professional.course
education_university.degree
education_unknown
default_unknown
default_yes
housing_unknown
housing_yes
loan_unknown
loan_yes
contact_telephone
month_aug
month_dec
month_jul
month_jun
month_mar
month_may
month_nov
month_oct
month_sep
day_of_week_mon
day_of_week_thu
day_of_week_tue
day_of_week_wed
poutcome_nonexistent
poutcome_success